sass:
  // color scheme
  $nav-color: #2a2a5d
  $color-base: #595977
  $color-dark: #414190
  $color-light: #6c6c90
  $color-light-hover: #7c7ca0
  $color-super-light: #a6a6dd
  $color-end: #334
  $color-end-hover: #445

  $text-color: #eee
  $text-color-hover: #ccc
  $text-color-neutral: #bbb

  *
    font-family: 'Inconsolata', monospace

  .cs-whole
    &
      background: $color-base
    &.cs-index-page
      background: $color-end

  .cs-jumbotron
    &-dark
      background: $color-base
    &-light
      background: $color-light
    &-end
      background: $color-end

  html, div, span, i, p, h1, h2, h3, h4, h5, h6
    font-family: Ubuntu
    color: $text-color

  .cs-panels
    &-panel-outer
      &, &:hover, &:active
        text-decoration: none
    &-panel
      padding: 9px
      margin-bottom: 3px
      margin-right: 3px
      .cs-title, .cs-desc
        color: $text-color
      &
        background: $color-light
      &:hover
        background: $color-light-hover

  // size
  .cs-icon
    &-large
      font-size: 128px
    &-medium
      font-size: 32px

  .cs-width
    &-large
      font-size: 128px
    &-medium
      font-size: 32px

  .cs-dashboard
    .cs-news
      &-type
        width: 32px
      &-time
        color: $text-color-neutral
      &-title
        font-weight: bold
        line-height: 32px
        font-size: 18px
      &-mesasge
    &-sidebar
      &-apps
        .cs-app .cs-app-name
          margin-left: 3px

    &-sidebar
      .cs-panel
        border-radius: 3px
        padding: 6px
        background: $color-light

  input.cs-button
    color: $color-dark

  .cs-navbar
    &
      background: $nav-color
      border-bottom: 1px solid $color-dark
    .cs-brand
      &
        color: $text-color
      &:hover, &:active, &:focus
        color: $text-color-hover
    .cs-navbar-nav
      li > *
        line-height: 40px
      li > a
        &
          color: $text-color
        &:hover, &:active, &:focus
          color: $color-light
          background: transparent
          border-bottom: 3px solid $color-light

  .cs-sidebar
    .cs-nav > li
      &
        color: $text-color
      .cs-icon
        width: 18px
        text-align: center
    .cs-nav > li > a
      &:hover, &:active, &:focus
        background: $color-end-hover

  .cs-sidebar-background
    background: $color-end
    z-index: -1
    position: fixed
    top: 0
    margin-left: 5px
    height: 100%

  .cs-article
    margin-bottom: 24px
    & > *
      color: $text-color

  .cs-comments
    &-panel
      background: $color-light
      padding: 6px 12px
      border-radius: 3px
      &, &-author
        color: $text-color

  .cs-jumbotron
    &
      padding: 36px 0
    &-end
      padding: 72px 0
      padding-top: 36px
    .cs-leading
      &-top > *, .cs-heading
        color: #eee
    .cs-title
      font-family: 'Source Sans Pro', sans-serif
      color: #fff
      margin: 32px 0

  .cs-margin-left
    margin-left: 6px

  .cs-grid
    padding-top: 32px
