// Contents
div.uk-container.uk-container-center
  // header
  .cs-page-header.uk-article
    h1.uk-article-title Apps
    p.uk-article-lead Hello, World.

  // applications
  div.uk-grid#apps

script#template-app-panel type="text/template"
  div.cs-app-panel.uk-panel
    h2.uk-panel-title <%- name %>
    p <%- desc %>

// Client
coffee:
  $ = jQuery

  request = (method, url)->
    $.ajax
      type: method
      url: url
      dataType: 'json'

  class Mgmt
    ENDPOINT = '/mgmt'

    @request: (method, path)->
      request method, "#{ENDPOINT}/#{path}".replace(/\/\//g, '/')

  class App
    @fetchAll: ->
      new Promise (resolve, reject)->
        Mgmt.request('GET', '/apps')
          .done (res)->
            resolve res['applications'].map (app)->
              new App(app)
          .fail (res)->
            reject(res)

    constructor: (detail)->
      @name = detail.name
      @desc = 'TODO: app description?'

    render: ->
      wrapper = document.createElement('div')
      wrapper.className = 'uk-width-1-3'
      wrapper.innerHTML = renderTemplate('app-panel', @)
      wrapper

  renderTemplate = (id, data)->
    tmpl = _.template($("#template-#{id}").html())
    tmpl(data)

  # entry point
  App.fetchAll().then (apps)->
    el = $('#apps')
    apps.forEach (app)->
      el.append app.render()
